@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

body {
    font-family: 'Dancing Script', cursive;
    color: #000;
    text-align: center;
    padding: 20px;
    background: url('../assets/images/img.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
.book {
    width: 90%;
    max-width: 1000px;
    height: 80vh;
    margin: 50px auto;
    position: relative;
}
.page {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(100%);
}
.page.active {
    opacity: 1;
    transform: translateX(0);
}
.page h1, .page p {
    margin: 20px 0;
    animation: fadeIn 5s ease-in-out, float 6s ease-in-out infinite;
    font-size: 1.5em;
}
.page h1 {
    color: #ff1500;
    animation: fadeIn 3s ease-in-out, float 6s ease-in-out infinite;
    font-size: 2em;
}
#countdown {
    font-size: 1.5em;
    margin-top: 20px;
    animation: fadeIn 3s ease-in-out;
}
.next-button {
    margin-top: 20px;
    background-color: #ff6f61;
    border-color: #ff6f61;
    font-size: 1.2em;
}
.next-button:hover {
    background-color: #ff3b2e;
    border-color: #ff3b2e;
}
#game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.game-card {
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6f61;
    border: 2px solid #ff3b2e;
    border-radius: 10px;
    cursor: pointer;
}
.game-card.flipped {
    background-color: #fff;
    color: #ff3b2e;
    cursor: default;
}

@media (min-width: 768px) {
    .page h1 {
        font-size: 3em;
    }
    .page p {
        font-size: 2em;
    }
    #countdown {
        font-size: 2em;
    }
    .next-button {
        font-size: 1.5em;
    }
    .game-card {
        width: 150px;
        height: 150px;
        font-size: 1.5em;
    }
}
